@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
:root {
  --color:#08316f;
  --black:#2a201c;
  --white:#fff;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
}

html {
  font-size: 62.5%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 3rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}
.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--black);
  text-transform: capitalize;
}
.header .logo i {
  padding-right: 0.5rem;
  color: var(--color);
}
.header .navbar a {
  font-size: 2rem;
  margin-left: 6rem;
  color: var(--black);
  text-transform: capitalize;
}
.header .navbar a:hover {
  color: var(--color);
}
.header .navbar .btn {
  padding: 0.9rem 3rem;
  background: var(--color);
  border-radius: 5rem;
  cursor: pointer;
  font-size: 1.7rem;
  color: var(--white);
}
.header .navbar .btn:hover {
  background: var(--white);
  color: var(--color);
}

.container {
  height: 100vh;
  background: url(home-bg.jpg) no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container .image {
  margin-top: 10rem;
  animation: animateside 1s ease 1;
}
.container .image img {
  width: 40vw;
}
.container .content {
  margin-top: 5rem;
  width: 40vw;
  animation: animate 1s ease 1;
}
.container .content h1 {
  font-size: 6rem;
  color: var(--black);
  margin: 1rem 0;
}
.container .content h1 span {
  color: var(--color);
}
.container .content p {
  font-size: 1.4rem;
  color: var(--black);
  line-height: 1.8;
  margin-bottom: 2rem;
}
.container .content .btn {
  padding: 0.9rem 3rem;
  background: var(--color);
  border-radius: 5rem;
  cursor: pointer;
  font-size: 1.7rem;
  color: var(--white);
}
.container .content .btn:hover {
  color: var(--color);
  background: var(--white);
}

@keyframes animate {
  0% {
    transform: translateY(15rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes animateside {
  0% {
    transform: translateX(-50rem);
  }
  100% {
    transform: translateX(0);
  }
}